<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BiceVida Inicio DevOps</title>
</head>
<body style="background-color: #002859;">
    <h3 style="color: #85ab4b;">Bice Vida</h3> 
    <p style="color: white;">Ver datos de Seguro Bice Vida</p>
    <form action="/seguro" class="inline">
        <button class="float-left submit-button" >Consultar API</button>
    </form>
    <img src="https://segurocovid.bicevida.cl/images/cat-full-greeting.png" alt="alternatetext" >
    
</body>
<footer>
    <p style="color: whitesmoke;">Autor: Rodrigo Olmos</p>
  </footer> 
</html>
</html>